{{#required}}{{/required}}{{^required}}Optional<{{/required}}{{#isFile}}MultipartFile{{/isFile}}{{^isFile}}{{#isListContainer}}List<{{/isListContainer}}String{{#isListContainer}}>{{/isListContainer}}{{/isFile}}{{^required}}>{{/required}}