{"swagger":"2.0","info":{"description":"<p>Welcome to the RaaS&reg; API – with this RESTful API you can integrate a global reward or incentive program into your app or platform.<br /><br /> This console works in our Sandbox environment. To receive your own credentials or to ask questions, please contact us at <a href=\"mailto:devsupport@tangocard.com\">devsupport@tangocard.com</a>.","version":"2","title":"Tango Card RaaS API","termsOfService":"TOSurl","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org"}},"host":"api-v2.tangocard.cc:9227","basePath":"/raas/v2","tags":[{"name":"Fund","description":" "},{"name":"Accounts","description":" "},{"name":"Exchange Rates","description":" "},{"name":"Catalogs","description":" "},{"name":"Customers","description":" "},{"name":"Orders","description":" "},{"name":"Email Templates","description":" "}],"paths":{"/accounts":{"get":{"tags":["Accounts"],"summary":"Get a list of Accounts created on this Platform.","operationId":"listCustomerAccounts","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AccountView"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/accounts/{identifier}":{"get":{"tags":["Accounts"],"summary":"Get details for a specific Account on this Platform.","operationId":"getAccount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"identifier","in":"path","description":"identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountView"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/catalogs":{"get":{"tags":["Catalogs"],"summary":"Get all items in the Platform's Catalog.","operationId":"getCatalog","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"verbose","in":"query","description":"Verbose payload","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CatalogViewVerbose"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/creditCardDeposits":{"post":{"tags":["Fund"],"summary":"Fund an Account.","operationId":"createCreditCardDeposit","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"criteria","description":"<strong>customerIdentifier</strong> - specify the customer associated with the credit card. Must be the customer the accountIdentifier is associated with.<br/><br/>\n<strong>accountIdentifier</strong> - specify the account this credit card is associated with<br/><br/>\n<strong>creditCardToken</strong> - specify the credit card token to fund with<br/><br/>\n<strong>amount</strong> - specify the amount to fund in USD<br/><br/>\n","required":false,"schema":{"$ref":"#/definitions/CreateCreditCardDepositCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreditCardDepositView"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/creditCardDeposits/{depositId}":{"get":{"tags":["Fund"],"summary":"Get details for a specific Credit Card Deposit.","operationId":"getCreditCardDeposit","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"depositId","in":"path","description":"Credit card deposit identifier returned in Deposit response payload","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreditCardDepositView"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/creditCardUnregisters":{"post":{"tags":["Fund"],"summary":"Unregister a Credit Card.","operationId":"createCreditCardUnregister","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"criteria","description":"<strong>customerIdentifier</strong> - specify the customer associated with the credit card. Must be the customer the accountIdentifier is associated with.<br/><br/>\n<strong>accountIdentifier</strong> - specify the account this credit card is associated with<br/><br/>\n<strong>creditCardToken</strong> - specify the credit card token to unregister<br/><br/>\n","required":false,"schema":{"$ref":"#/definitions/CreateCreditCardUnregisterCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreditCardUnregisterView"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/creditCards":{"get":{"tags":["Fund"],"summary":"List all credit cards registered on this Platform.","operationId":"listCreditCards","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"showInactive","in":"query","description":"Show inactive cards","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CreditCardView"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]},"post":{"tags":["Fund"],"summary":"Register a new Credit Card.","operationId":"createCreditCard","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"creditCardCriteria","description":"<strong>customerIdentifier</strong> - specify the customer associated with the credit card. Must be the customer the accountIdentifier is associated with.<br/><br/>\n<strong>accountIdentifier</strong> - specify the account this credit card is associated with<br/><br/>\n<strong>label</strong> - specify a label for the credit card<br/><br/>\n<strong>ipAddress</strong> - specify the The IP address of the person adding the credit card<br/><br/>\n<strong>creditCard - number</strong> - specify the account this order will be deducted from<br/><br/>\n<strong>creditCard - expiration</strong> - specify the card expiration date in YYYY-MM format<br/><br/>\n<strong>creditCard - verificationNumber</strong> - specify the 3 or 4-digit card security code on back of card (CVV2, CVC2, or CID)<br/><br/>\n<strong>billingAddress - firstName</strong> - specify the billing address first name<br/><br/>\n<strong>billingAddress - lastName</strong> - specify the billing address last name<br/><br/>\n<strong>billingAddress - addressLine1</strong> - specify the billing address line 1<br/><br/>\n<strong>billingAddress - addressLine2</strong> - Optional. Specify the billing address line 2<br/><br/>\n<strong>billingAddress - city</strong> - specify the billing address city<br/><br/>\n<strong>billingAddress - state</strong> - specify the billing address state<br/><br/>\n<strong>billingAddress - postalCode</strong> - specify the billing address postal code<br/><br/>\n<strong>billingAddress - country</strong> - specify the billing address 2-letter country code<br/><br/>\n<strong>billingAddress - emailAddress</strong> - specify the billing address email<br/><br/>\n<strong>contactInformation - fullName</strong> - Optional. Used for email receipts. Specify the contact full name.<br/><br/>\n<strong>contactInformation - emailAddress</strong> - Optional. Used for email receipts. Specify the contact email address.<br/><br/>\n","required":false,"schema":{"$ref":"#/definitions/CreateCreditCardCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreditCardView"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/CreditCardView"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/creditCards/{token}":{"get":{"tags":["Fund"],"summary":"Get details for a specific Credit Card.","operationId":"getCreditCard","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"token","in":"path","description":"Credit card token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreditCardView"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/customers":{"get":{"tags":["Customers"],"summary":"Get a list of all Customers on this Platform.","operationId":"listCustomers","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CustomerViewSummary"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]},"post":{"tags":["Customers"],"summary":"Create a new Customer on this Platform.","operationId":"createCustomer","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"form","description":"<strong>displayName</strong> - a friendly name for this customer <br /><br /><strong>customerIdentifier</strong> - an official identifier for this customer. This identifier needs to be lowercase if alphabetic characters are used.","required":false,"schema":{"$ref":"#/definitions/CreateCustomerCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerViewNew"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/CreateCustomerCriteria"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"409":{"description":"Conflict; Duplicate Exists"}},"security":[{"basicAuth":[]}]}},"/customers/{customerIdentifier}":{"get":{"tags":["Customers"],"summary":"Get details for a specific Customer on this Platform.","operationId":"getCustomer","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerIdentifier","in":"path","description":"customerIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CustomerViewSummary"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/customers/{customerIdentifier}/accounts":{"get":{"tags":["Customers"],"summary":"Get a list of all Accounts created for a specific Customer on this Platform.","operationId":"listCustomerAccounts_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerIdentifier","in":"path","description":"customerIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AccountViewSummary"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]},"post":{"tags":["Customers"],"summary":"Create an Account under a specific Customer on this Platform.","operationId":"createCustomerAccount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"customerIdentifier","in":"path","description":"The customerIdentifier for the Customer under which you are creating a new account","required":true,"type":"string"},{"in":"body","name":"accountCriteria","description":"<strong>contactEmail</strong> - An email address for a designated representative for this account.<br /><br /><strong>displayName</strong> - A friendly name for this account<br /><br /><strong>identifier</strong> - A unique identifier for this account. This identifier must be lowercase if alphabetic characters are used.","required":false,"schema":{"$ref":"#/definitions/CreateAccountCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountView"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/CreateAccountCriteria"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"409":{"description":"Conflict; Duplicate Exists"}},"security":[{"basicAuth":[]}]}},"/emailTemplates":{"get":{"tags":["Email Templates"],"summary":"Get a list of all Email Templates on this Platform.","operationId":"listEmailTemplates","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"elementsPerBlock","in":"query","description":"specify the number of elements in a block.","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"specify the page number to return.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmailTemplateListView"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]},"post":{"tags":["Email Templates"],"summary":"Create a new email template","operationId":"createEmailTemplate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"createEmailTemplateCriteria","description":"<strong>name</strong> - A unique name to give the template.<br/><br/><strong>fromName</strong> - The name that will appear in the From line of the email.<br/><br/><strong>subject</strong> - The Subject of the email.<br/><br/><strong>headerImage</strong> - A Base64 encoded string of an image that will show as the header of the email.<br/><br/><strong>headerImageAltText</strong> - The Alt Text for the Header Image in the email.<br/><br/><strong>accentColor</strong> - A Hex color value, six hexadecimal digits preceded by a pound sign, used as an accent in the email.<br/><br/><strong>messageBody</strong> - The message body for the email. This is often used to let the recipient know why they have received the reward.<br/><br/><strong>closing</strong> - After the reward credential, a space to close the message to the recipient<br/><br/><strong>customerServiceMessage</strong> - (Optional) If left null, Tango Card's Customer Support contact information will be included. Otherwise contact information for your customer support, if you are taking responsibility for providing first tier customer support of your recipients. <br/><br/><strong>accessControl</strong> - (Optional) Which Customers and/or Accounts should have access to this template.<br/><br/><strong>accessControl - type</strong> - The type of access being specified: PLATFORM, CUSTOMER or ACCOUNT.<br/><br/><strong>accessControl - identifier</strong> - If the type is PLATFORM, the platform name or can be left blank. If the type is CUSTOMER OR ACCOUNT, the customerIdentifier or the accountIdentifier, respectively.<br/><br/><strong>defaults</strong> - If you want this template to be used at order time for the given Platform, Customer or Account when the Email Template Identifier (etid) is not provided with the order.<br/><br/><strong>defaults - type</strong> - The type of default being specified: PLATFORM, CUSTOMER or ACCOUNT.<br/><br/><strong>defaults - identifier</strong> - If the type is PLATFORM, the platform name or can be left blank. If the type is CUSTOMER OR ACCOUNT, the customerIdentifier or the accountIdentifier, respectively.<br/><br/>","required":false,"schema":{"$ref":"#/definitions/CreateEmailTemplateCriteria"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/EmailTemplateViewVerbose"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict; Duplicate Exists"},"422":{"description":"Unprocessable Entity"}},"security":[{"basicAuth":[]}]}},"/emailTemplates/{etid}":{"get":{"tags":["Email Templates"],"summary":"Get details for a specific Email Template on this Platform.","operationId":"getEmailTemplate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"etid","in":"path","description":"Email Template Identifier (ETID) is returned in the email template response payload","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmailTemplateViewVerbose"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]},"delete":{"tags":["Email Templates"],"summary":"Delete a specific Email Template on this Platform.","operationId":"deleteEmailTemplate","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"etid","in":"path","description":"Email Template Identifier (ETID) is returned in the email template response payload","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]},"patch":{"tags":["Email Templates"],"summary":"Update details for a specific Email Template on this Platform.","operationId":"updateEmailTemplate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"etid","in":"path","description":"Email Template Identifier (ETID) is returned in the email template response payload","required":true,"type":"string"},{"in":"body","name":"updateEmailTemplateCriteria","description":"<strong>name</strong> - (Optional) A unique name to give the template.<br/><br/><strong>fromName</strong> - (Optional) The name that will appear in the From line of the email.<br/><br/><strong>subject</strong> - (Optional) The Subject of the email.<br/><br/><strong>headerImage</strong> - (Optional) A Base64 encoded string of an image that will show as the header of the email.<br/><br/><strong>headerImageAltText</strong> - (Optional) The Alt Text for the Header Image in the email.<br/><br/><strong>accentColor</strong> - (Optional) A Hex color value, six hexadecimal digits preceded by a pound sign, used as an accent in the email.<br/><br/><strong>messageBody</strong> - (Optional) The message body for the email. This is often used to let the recipient know why they have received the reward.<br/><br/><strong>closing</strong> - (Optional) After the reward credential, a space to close the message to the recipient<br/><br/><strong>customerServiceMessage</strong> - (Optional) If left null, Tango Card's Customer Support contact information will be included. Otherwise contact information for your customer support, if you are taking responsibility for providing first tier customer support of your recipients. <br/><br/><strong>accessControl</strong> - (Optional) Which Customers and/or Accounts should have access to this template.<br/><br/><strong>accessControl - type</strong> - The type of access being specified: PLATFORM, CUSTOMER or ACCOUNT.<br/><br/><strong>accessControl - identifier</strong> - If the type is PLATFORM, the platform name or can be left blank. If the type is CUSTOMER OR ACCOUNT, the customerIdentifier or the accountIdentifier, respectively.<br/><br/><strong>defaults</strong> - If you want this template to be used at order time for the given Platform, Customer or Account when the Email Template Identifier (etid) is not provided with the order.<br/><br/><strong>defaults - type</strong> - The type of default being specified: PLATFORM, CUSTOMER or ACCOUNT.<br/><br/><strong>defaults - identifier</strong> - If the type is PLATFORM, the platform name or can be left blank. If the type is CUSTOMER OR ACCOUNT, the customerIdentifier or the accountIdentifier, respectively.<br/><br/>","required":false,"schema":{"$ref":"#/definitions/UpdateEmailTemplateCriteria"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmailTemplateViewVerbose"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Conflict; Duplicate Exists"}},"security":[{"basicAuth":[]}]}},"/exchangerates":{"get":{"tags":["Exchange Rates"],"summary":"Get a list of exchange rates.","operationId":"getExchangeRates","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExchangeRatesWithDisclaimer"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/orders":{"get":{"tags":["Orders"],"summary":"Get a list of Orders placed under this Platform.","operationId":"listOrders","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountIdentifier","in":"query","description":"specify the account to be queried.","required":false,"type":"string"},{"name":"customerIdentifier","in":"query","description":"specify the customer to be queried","required":false,"type":"string"},{"name":"externalRefID","in":"query","description":"specify the external reference ID to be queried","required":false,"type":"string"},{"name":"startDate","in":"query","description":"specify the starting date or date time to be queried according to RFC 3339, i.e. \"2016-01-01\" or \"2016-01-01T00:00:00Z\". See https://www.ietf.org/rfc/rfc3339.txt\n","required":false,"type":"string"},{"name":"endDate","in":"query","description":"specify the ending date or date time to be queried according to RFC 3339, i.e. \"2016-01-01\" or \"2016-01-01T00:00:00Z\". See https://www.ietf.org/rfc/rfc3339.txt\n","required":false,"type":"string"},{"name":"elementsPerBlock","in":"query","description":"specify the number of elements in a block.","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"specify the page number to return.","required":false,"type":"integer","format":"int32"},{"name":"id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"identityHash","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderListView"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]},"post":{"tags":["Orders"],"summary":"Create an Order under a specific Account.","operationId":"createOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"createOrderCriteria","description":"<strong>accountIdentifier</strong> - specify the account this order will be deducted from<br/><br/><strong>amount</strong> - specify the face value of of the reward. Always required, including for fixed value items.<br/><br/><strong>campaign</strong> - optional campaign that may be used to administratively categorize a specific order.<br/><br/><strong>customerIdentifier</strong> - specify the customer associated with the order. Must be the customer the accountIdentifier is associated with.<br/><br/><strong>emailSubject</strong> - Optional. If not specified, a default email subject will be used for the specified reward.<br/><br/><strong>externalRefID</strong> - Optional. Idempotenent field that can be used for client-side order cross reference and prevent accidental order duplication. Will be returned in order response, order details, and order history.<br/><br/><strong>message</strong> - optional gift message<br/><br/><strong>recipient - email</strong> - required if sendEmail is true<br/><br/><strong>recipient - firstName</strong> - required if sendEmail is true (100 character max)<br/><br/><strong>recipient - lastName</strong> - always optional (100 character max)<br/><br/><strong>sendEmail</strong> - should Tango Card send the email to the recipient?<br/><br/><strong>sender - firstName</strong> - always optional (100 character max)<br/><br/><strong>sender - lastName</strong> - always optional (100 character max)<br/><br/><strong>sender - email</strong> - always optional<br/><br/><strong>utid</strong> - the unique identifier for the reward you are sending as provided in the Get Catalog call<br/><br/><strong>etid</strong> - Optional. The unique identifier for the email template you would like to use. Only applicable if sendEmail is true.<br/><br/><strong>notes</strong> - Optional order notes (up to 150 characters)","required":false,"schema":{"$ref":"#/definitions/CreateOrderCriteria"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/OrderViewSummary"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"402":{"description":"Insufficient Funds"},"403":{"description":"Forbidden"},"503":{"description":"Service Unavailable"}},"security":[{"basicAuth":[]}]}},"/orders/{referenceOrderID}":{"get":{"tags":["Orders"],"summary":"Get details for a specific Order.","operationId":"getOrder","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"referenceOrderID","in":"path","description":"Reference order ID is returned in the order response payload","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderViewVerbose"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/orders/{referenceOrderID}/resends":{"post":{"tags":["Orders"],"summary":"Resend a specific Order.","operationId":"getOrderResends","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"referenceOrderID","in":"path","description":"Reference order ID is returned in the order response payload","required":true,"type":"string"},{"in":"body","name":"orderResendCriteria","description":"<strong>newEmail</strong> - A new email to resend this order to.","required":false,"schema":{"$ref":"#/definitions/OrderResendRequestCriteria"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/ResendView"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"AccountView":{"type":"object","required":["accountIdentifier","accountNumber","createdAt","currencyCode","currentBalance","displayName","status"],"properties":{"accountIdentifier":{"type":"string","description":"Account Identifier"},"accountNumber":{"type":"string","description":"Account Number"},"contactEmail":{"type":"string","description":"Contact Email"},"createdAt":{"type":"string","description":"Account Creation Timestamp"},"currencyCode":{"type":"string","description":"Currency Code"},"currentBalance":{"type":"number","description":"Current Balance"},"displayName":{"type":"string","description":"Account Display Name"},"status":{"type":"string","description":"Account Status"}}},"AccountViewSummary":{"type":"object","required":["accountIdentifier","accountNumber","createdAt","displayName","status"],"properties":{"accountIdentifier":{"type":"string","description":"Account Identifier"},"accountNumber":{"type":"string","description":"Account Number"},"createdAt":{"type":"string","description":"Account Creation Timestamp"},"displayName":{"type":"string","description":"Account Display Name"},"status":{"type":"string","description":"Account Status"}}},"BillingAddressCriteria":{"type":"object","required":["addressLine1","city","country","emailAddress","firstName","lastName","postalCode","state"],"properties":{"addressLine1":{"type":"string","description":"Address Line 1"},"addressLine2":{"type":"string","description":"Address Line 2"},"city":{"type":"string","description":"City"},"country":{"type":"string","description":"Country"},"emailAddress":{"type":"string","description":"Email Address"},"firstName":{"type":"string","description":"First Name"},"lastName":{"type":"string","description":"Last Name"},"postalCode":{"type":"string","description":"Postal Code"},"state":{"type":"string","description":"State"}}},"BrandRequirements":{"type":"object","required":["alwaysShowDisclaimer","disclaimerInstructions","displayInstructions","termsAndConditionsInstructions"],"properties":{"alwaysShowDisclaimer":{"type":"boolean","example":false,"description":"Always Show Disclaimer"},"disclaimerInstructions":{"type":"string","description":"Disclaimer Instructions"},"displayInstructions":{"type":"string","description":"Display Instructions"},"termsAndConditionsInstructions":{"type":"string","description":"Terms and Conditions Instructions"}}},"BrandViewWithItemsVerbose":{"type":"object","required":["brandKey","brandName","createdDate","description","disclaimer","imageUrls","items","lastUpdateDate","shortDescription","status","terms"],"properties":{"brandKey":{"type":"string","description":"Brand Key"},"brandName":{"type":"string","description":"Brand Display Name"},"brandRequirements":{"description":"Brand Requirements","$ref":"#/definitions/BrandRequirements"},"createdDate":{"type":"string","description":"Created Date"},"description":{"type":"string","description":"Brand Description"},"disclaimer":{"type":"string","description":"Brand Disclaimer"},"imageUrls":{"type":"object","description":"Brand Images in various sizes","additionalProperties":{"type":"string"}},"items":{"type":"array","description":"List of Items associated with this Brand","items":{"$ref":"#/definitions/ItemViewVerbose"}},"lastUpdateDate":{"type":"string","description":"Last Updated Date"},"shortDescription":{"type":"string","description":"Short Description"},"status":{"type":"string","description":"Brand Status"},"terms":{"type":"string","description":"Brand Terms and Conditions"}}},"CatalogView":{"type":"object"},"CatalogViewVerbose":{"type":"object","required":["brands","catalogName"],"properties":{"brands":{"type":"array","description":"List of Brands inside of this Catalog","items":{"$ref":"#/definitions/BrandViewWithItemsVerbose"}},"catalogName":{"type":"string","description":"Catalog Name"}}},"ContactInformationCriteria":{"type":"object","properties":{"emailAddress":{"type":"string","description":"Contact email address"},"fullName":{"type":"string","description":"Contact full name"}}},"ContactInformationView":{"type":"object","properties":{"emailAddress":{"type":"string","description":"Contact email address"},"fullName":{"type":"string","description":"Contact full name"}}},"CostAdjustmentEntity":{"type":"object","properties":{"type":{"type":"string"},"value":{"type":"number"}}},"CreateAccountCriteria":{"type":"object","required":["accountIdentifier","contactEmail","displayName"],"properties":{"accountIdentifier":{"type":"string","description":"Account Identifier"},"contactEmail":{"type":"string","description":"Email"},"displayName":{"type":"string","description":"Display Name"}}},"CreateCreditCardCriteria":{"type":"object","required":["accountIdentifier","billingAddress","creditCard","customerIdentifier","ipAddress","label"],"properties":{"accountIdentifier":{"type":"string","description":"Account Identifier"},"billingAddress":{"description":"Billing Address","$ref":"#/definitions/BillingAddressCriteria"},"contactInformation":{"type":"array","description":"Contact Information","items":{"$ref":"#/definitions/ContactInformationCriteria"}},"creditCard":{"description":"Credit Card Information","$ref":"#/definitions/CreditCardCriteria"},"customerIdentifier":{"type":"string","description":"Customer Identifier"},"ipAddress":{"type":"string","description":"IP Address"},"label":{"type":"string","description":"Credit Card Label"}}},"CreateCreditCardDepositCriteria":{"type":"object","required":["accountIdentifier","amount","creditCardToken","customerIdentifier"],"properties":{"accountIdentifier":{"type":"string","description":"Account Identifier"},"amount":{"type":"number","description":"The amount in USD to fund"},"creditCardToken":{"type":"string","description":"Credit Card token"},"customerIdentifier":{"type":"string","description":"Customer Identifier"}}},"CreateCreditCardUnregisterCriteria":{"type":"object","required":["accountIdentifier","creditCardToken","customerIdentifier"],"properties":{"accountIdentifier":{"type":"string","description":"Account Identifier"},"creditCardToken":{"type":"string","description":"Credit Card token"},"customerIdentifier":{"type":"string","description":"Customer Identifier"}}},"CreateCustomerCriteria":{"type":"object","required":["customerIdentifier","displayName"],"properties":{"customerIdentifier":{"type":"string","description":"Customer Identifier"},"displayName":{"type":"string","description":"Display Name"}}},"CreateEmailTemplateCriteria":{"type":"object","required":["accentColor","closing","fromName","headerImage","headerImageAltText","messageBody","name","subject"],"properties":{"accentColor":{"type":"string","example":"#000000","description":"Accent Color"},"accessControl":{"type":"array","description":"Access Control","items":{"$ref":"#/definitions/StandardRewardEmailTemplateAccess"}},"closing":{"type":"string","description":"Closing Message"},"customerServiceMessage":{"type":"string","description":"Customer Service Message"},"defaults":{"type":"array","description":"Defaults","items":{"$ref":"#/definitions/StandardRewardEmailTemplateDefault"}},"fromName":{"type":"string","description":"From Name"},"headerImage":{"type":"string","description":"Header Image (Base 64 Encoded)"},"headerImageAltText":{"type":"string","description":"Header Image - Alt Text"},"messageBody":{"type":"string","description":"Message Body"},"name":{"type":"string","description":"Name"},"subject":{"type":"string","description":"Subject"}}},"CreateOrderCriteria":{"type":"object","required":["accountIdentifier","amount","customerIdentifier","sendEmail","utid"],"properties":{"accountIdentifier":{"type":"string","description":"Account Identifier"},"amount":{"type":"number","description":"Amount"},"campaign":{"type":"string","description":"Campaign"},"customerIdentifier":{"type":"string","description":"Customer Identifier"},"emailSubject":{"type":"string","description":"Email subject"},"etid":{"type":"string","example":"E000000","description":"Email Template Identifier"},"externalRefID":{"type":"string","description":"External Reference ID"},"message":{"type":"string","description":"Message"},"notes":{"type":"string","description":"Notes"},"recipient":{"description":"Recipient Details","$ref":"#/definitions/RecipientInfoCriteria"},"sendEmail":{"type":"boolean","example":true,"description":"Send Email"},"sender":{"description":"Sender Details","$ref":"#/definitions/SenderInfoCriteria"},"utid":{"type":"string","description":"Unique Tango Card Identifier"}}},"CredentialView":{"type":"object","properties":{"credentialType":{"type":"string"},"label":{"type":"string"},"type":{"type":"string"},"value":{"type":"string"}}},"CreditCardCriteria":{"type":"object","required":["expiration","number","verificationNumber"],"properties":{"expiration":{"type":"string","description":"Expiration Date"},"number":{"type":"string","description":"Credit Card Number"},"verificationNumber":{"type":"string","description":"Verification Number"}}},"CreditCardDepositView":{"type":"object","required":["accountNumber","amount","amountCharged","createdDate","feePercent","referenceDepositID","status"],"properties":{"accountNumber":{"type":"string","description":"Account Number"},"amount":{"type":"number","description":"Amount funded in USD"},"amountCharged":{"type":"number","description":"Amount charged in USD"},"createdDate":{"type":"string","description":"Date the credit card deposit was created"},"feePercent":{"type":"number","description":"Fee percent charged for credit card processing"},"referenceDepositID":{"type":"string","description":"Credit Card Deposit order reference ID"},"status":{"type":"string","description":"Status of the credit card deposit"}}},"CreditCardUnregisterView":{"type":"object","required":["createdDate","message","token"],"properties":{"createdDate":{"type":"string","description":"Date the credit card was un-registered"},"message":{"type":"string","description":"Friendly message that the credit card has been un-registered successfully"},"token":{"type":"string","description":"Credit Card Unregister token identifier"}}},"CreditCardView":{"type":"object","required":["accountIdentifier","accountNumber","activationDate","contactInformation","createdDate","customerIdentifier","expirationDate","label","lastFourDigits","status","token"],"properties":{"accountIdentifier":{"type":"string","description":"Account Identifier"},"accountNumber":{"type":"string","description":"Account Number"},"activationDate":{"type":"string","description":"Date when the the credit card will be activated for use in funding"},"contactInformation":{"type":"array","description":"List of contact information for funding confirmation emails","items":{"$ref":"#/definitions/ContactInformationView"}},"createdDate":{"type":"string","description":"Date the credit card was created"},"customerIdentifier":{"type":"string","description":"Customer Identifier"},"expirationDate":{"type":"string","description":"Expiration date of the registered card in YYYY-MM format"},"label":{"type":"string","description":"Credit Card label"},"lastFourDigits":{"type":"string","description":"Last four digits of the registered credit card"},"status":{"type":"string","description":"Status of the registered card"},"token":{"type":"string","description":"Credit Card token identifier"}}},"CustomerView":{"type":"object"},"CustomerViewNew":{"type":"object","required":["createdAt","customerIdentifier","displayName","status"],"properties":{"createdAt":{"type":"string","description":"Created Date"},"customerIdentifier":{"type":"string","description":"Customer Identifier"},"displayName":{"type":"string","description":"Customer Display Name"},"status":{"type":"string","description":"Customer Status"}}},"CustomerViewSummary":{"type":"object","required":["accounts","createdAt","customerIdentifier","displayName","status"],"properties":{"accounts":{"type":"array","description":"List of Accounts this Customer has","items":{"$ref":"#/definitions/AccountViewSummary"}},"createdAt":{"type":"string","description":"Created Date"},"customerIdentifier":{"type":"string","description":"Customer Identifier"},"displayName":{"type":"string","description":"Customer Display Name"},"status":{"type":"string","description":"Customer Status"}}},"EmailTemplateListView":{"type":"object","required":["emailTemplates","page"],"properties":{"emailTemplates":{"type":"array","description":"Email Template elements for the current page","items":{"$ref":"#/definitions/EmailTemplateViewVerbose"}},"page":{"description":"Page data for email templates","$ref":"#/definitions/PageView"}}},"EmailTemplateViewVerbose":{"type":"object","required":["accentColor","closing","etid","fromName","headerImage","headerImageAltText","messageBody","name","subject"],"properties":{"accentColor":{"type":"string","description":"Accent Color"},"accessControls":{"type":"array","description":"Access Control","items":{"$ref":"#/definitions/StandardRewardEmailTemplateAccess"}},"closing":{"type":"string","description":"Closing Message"},"customerServiceMessage":{"type":"string","description":"Customer Service Message"},"defaults":{"type":"array","description":"Defaults","items":{"$ref":"#/definitions/StandardRewardEmailTemplateDefault"}},"etid":{"type":"string","description":"Email Template Identifier (ETID)"},"fromName":{"type":"string","description":"From Name"},"headerImage":{"type":"string","description":"Header Image Url"},"headerImageAltText":{"type":"string","description":"Header Image - Alt Text"},"messageBody":{"type":"string","description":"Message Body"},"name":{"type":"string","description":"Name"},"subject":{"type":"string","description":"Subject"}}},"ExchangeRateView":{"type":"object","required":["baseCurrency","baseFx","lastModifiedDate","rewardCurrency"],"properties":{"baseCurrency":{"type":"string","description":"Base Currency"},"baseFx":{"type":"number","description":"Base Fixed Exchange Rate"},"lastModifiedDate":{"type":"string","description":"Last Modified Timestamp"},"rewardCurrency":{"type":"string","description":"Reward Currency"}}},"ExchangeRatesWithDisclaimer":{"type":"object","properties":{"disclaimer":{"type":"string"},"exchangeRates":{"type":"array","items":{"$ref":"#/definitions/ExchangeRateView"}}}},"ItemViewVerbose":{"type":"object","required":["countries","createdDate","credentialTypes","currencyCode","fee","isWholeAmountValueRequired","lastUpdateDate","redemptionInstructions","rewardName","rewardType","status","utid","valueType"],"properties":{"countries":{"type":"array","description":"Countries","items":{"type":"string"}},"createdDate":{"type":"string","description":"Created Date"},"credentialTypes":{"type":"array","description":"Credential Types","items":{"type":"string"}},"currencyCode":{"type":"string","description":"Currency Code"},"exchangeRateRule":{"type":"string","description":"Exchange Rate Rule"},"faceValue":{"type":"number","description":"Face Value"},"fee":{"description":"Fee","$ref":"#/definitions/CostAdjustmentEntity"},"isWholeAmountValueRequired":{"type":"boolean","example":false,"description":"Whole Value Required"},"lastUpdateDate":{"type":"string","description":"Last Updated Date"},"maxValue":{"type":"number","description":"Max Value"},"minValue":{"type":"number","description":"Min Value"},"redemptionInstructions":{"type":"string","description":"Redemption Instructions"},"rewardName":{"type":"string","description":"Reward Name"},"rewardType":{"type":"string","description":"Reward Type"},"status":{"type":"string","description":"Status"},"utid":{"type":"string","description":"Utid - Unique Tango Card ID."},"valueType":{"type":"string","description":"Value Type"}}},"MoneyView":{"type":"object","properties":{"currencyCode":{"type":"string"},"exchangeRate":{"type":"number"},"fee":{"type":"number"},"total":{"type":"number"},"value":{"type":"number"}}},"OrderListItemView":{"type":"object","required":["accountIdentifier","accountNumber","amountCharged","campaign","createdAt","customerIdentifier","emailSubject","etid","message","referenceOrderID","rewardName","sendEmail","status","utid"],"properties":{"accountIdentifier":{"type":"string","description":"Account Identifier"},"accountNumber":{"type":"string","description":"Account Number"},"amountCharged":{"description":"Amount Charged","$ref":"#/definitions/MoneyView"},"campaign":{"type":"string","description":"Reward Campaign"},"createdAt":{"type":"string","description":"Created Date"},"customerIdentifier":{"type":"string","description":"Customer Identifier"},"denomination":{"description":"Denomination","$ref":"#/definitions/MoneyView"},"emailSubject":{"type":"string","description":"Email Subject"},"etid":{"type":"string","description":"Reward Email Template"},"externalRefID":{"type":"string","description":"External Reference ID"},"message":{"type":"string","description":"Email Message"},"notes":{"type":"string","description":"Notes"},"recipient":{"description":"Recipient Details","$ref":"#/definitions/RecipientInfoView"},"referenceOrderID":{"type":"string","description":"Reference Order ID"},"rewardName":{"type":"string","description":"Reward Name"},"sendEmail":{"type":"boolean","example":false,"description":"Send Email?"},"sender":{"description":"Sender Details","$ref":"#/definitions/SenderInfoView"},"status":{"type":"string","description":"Reward Status"},"utid":{"type":"string","description":"Utid - Unique Tango Card ID."}}},"OrderListView":{"type":"object","required":["orders","page"],"properties":{"orders":{"type":"array","description":"Order elements for the current page","items":{"$ref":"#/definitions/OrderListItemView"}},"page":{"description":"Page data for matching orders","$ref":"#/definitions/PageView"}}},"OrderResendRequestCriteria":{"type":"object","properties":{"newEmail":{"type":"string","description":"Optional new email address for resending an order to"}}},"OrderRewardView":{"type":"object","required":["credentials"],"properties":{"credentialList":{"type":"array","description":"Verbose list of credentials","items":{"$ref":"#/definitions/CredentialView"}},"credentials":{"type":"object","description":"Credentials as a map with String label key and credential value String","additionalProperties":{"type":"string"}},"redemptionInstructions":{"type":"string"}}},"OrderView":{"type":"object","required":["referenceOrderID"],"properties":{"referenceOrderID":{"type":"string","description":"Reference Order ID"}}},"OrderViewSummary":{"type":"object","required":["accountIdentifier","amountCharged","campaign","createdAt","customerIdentifier","denomination","emailSubject","externalRefID","message","recipient","referenceOrderID","reward","rewardName","sendEmail","sender","status","utid"],"properties":{"accountIdentifier":{"type":"string","description":"Account Identifier"},"amountCharged":{"description":"Amount Charged","$ref":"#/definitions/MoneyView"},"campaign":{"type":"string","description":"Reward Campaign"},"createdAt":{"type":"string","description":"Created Date"},"customerIdentifier":{"type":"string","description":"Customer Identifier"},"denomination":{"description":"Denomination","$ref":"#/definitions/MoneyView"},"emailSubject":{"type":"string","description":"Email Subject"},"externalRefID":{"type":"string","description":"External Reference ID"},"message":{"type":"string","description":"Email Message"},"recipient":{"description":"Recipient Details","$ref":"#/definitions/RecipientInfoView"},"redemptionInstructions":{"type":"string","description":"Redemption Instructions"},"referenceOrderID":{"type":"string","description":"Reference Order ID"},"reward":{"description":"The Reward","$ref":"#/definitions/OrderRewardView"},"rewardName":{"type":"string","description":"Reward Name"},"sendEmail":{"type":"boolean","example":false,"description":"Send Email?"},"sender":{"description":"Sender Details","$ref":"#/definitions/SenderInfoView"},"status":{"type":"string","description":"Reward Status"},"utid":{"type":"string","description":"Utid - Unique Tango Card ID."}}},"OrderViewVerbose":{"type":"object","required":["accountIdentifier","accountNumber","amountCharged","campaign","createdAt","customerIdentifier","emailSubject","etid","message","referenceOrderID","reward","rewardName","sendEmail","status","utid"],"properties":{"accountIdentifier":{"type":"string","description":"Account Identifier"},"accountNumber":{"type":"string","description":"Account Number"},"amountCharged":{"description":"Amount Charged","$ref":"#/definitions/MoneyView"},"campaign":{"type":"string","description":"Reward Campaign"},"createdAt":{"type":"string","description":"Created Date"},"customerIdentifier":{"type":"string","description":"Customer Identifier"},"denomination":{"description":"Denomination","$ref":"#/definitions/MoneyView"},"emailSubject":{"type":"string","description":"Email Subject"},"etid":{"type":"string","description":"Reward Email Template"},"externalRefID":{"type":"string","description":"External Reference ID"},"message":{"type":"string","description":"Email Message"},"notes":{"type":"string","description":"Notes"},"recipient":{"description":"Recipient Details","$ref":"#/definitions/RecipientInfoView"},"referenceOrderID":{"type":"string","description":"Reference Order ID"},"reward":{"description":"The Reward","$ref":"#/definitions/OrderRewardView"},"rewardName":{"type":"string","description":"Reward Name"},"sendEmail":{"type":"boolean","example":false,"description":"Send Email?"},"sender":{"description":"Sender Details","$ref":"#/definitions/SenderInfoView"},"status":{"type":"string","description":"Reward Status"},"utid":{"type":"string","description":"Utid - Unique Tango Card ID."}}},"PageView":{"type":"object","required":["elementsPerBlock","number","resultCount","totalCount"],"properties":{"elementsPerBlock":{"type":"integer","format":"int32","description":"Total number of elements per page"},"number":{"type":"integer","format":"int32","description":"Current page number"},"resultCount":{"type":"integer","format":"int32","description":"Total number of elements in the current page"},"totalCount":{"type":"integer","format":"int64","description":"Total number of elements"}}},"RecipientInfoCriteria":{"type":"object","properties":{"email":{"type":"string","description":"Email"},"firstName":{"type":"string","description":"First Name"},"lastName":{"type":"string","description":"Last Name"}}},"RecipientInfoView":{"type":"object","properties":{"email":{"type":"string","description":"Email"},"firstName":{"type":"string","description":"First Name"},"lastName":{"type":"string","description":"Last Name"}}},"ResendView":{"type":"object","required":["createdAt","email","id"],"properties":{"createdAt":{"type":"string","description":"Created Date"},"email":{"type":"string","description":"Email address that the resend was sent to"},"id":{"type":"integer","format":"int64","description":"ID"},"legacyId":{"type":"string","description":"Legacy ID (only when resending v1 orders)"}}},"SenderInfoCriteria":{"type":"object","properties":{"email":{"type":"string","description":"Email"},"firstName":{"type":"string","description":"First Name"},"lastName":{"type":"string","description":"Last Name"}}},"SenderInfoView":{"type":"object","properties":{"email":{"type":"string","description":"Email"},"firstName":{"type":"string","description":"First Name"},"lastName":{"type":"string","description":"Last Name"}}},"StandardRewardEmailTemplateAccess":{"type":"object","properties":{"identifier":{"type":"string"},"type":{"type":"string","enum":["PLATFORM","CUSTOMER","ACCOUNT"]}}},"StandardRewardEmailTemplateDefault":{"type":"object","properties":{"identifier":{"type":"string"},"type":{"type":"string","enum":["PLATFORM","CUSTOMER","ACCOUNT"]}}},"UpdateEmailTemplateCriteria":{"type":"object","properties":{"accentColor":{"type":"string","example":"#000000","description":"Accent Color"},"accessControl":{"type":"array","description":"Access Control","items":{"$ref":"#/definitions/StandardRewardEmailTemplateAccess"}},"closing":{"type":"string","description":"Closing Message"},"customerServiceMessage":{"type":"string","description":"Customer Service Message"},"defaults":{"type":"array","description":"Defaults","items":{"$ref":"#/definitions/StandardRewardEmailTemplateDefault"}},"fromName":{"type":"string","description":"From Name"},"headerImage":{"type":"string","description":"Header Image (Base 64 Encoded)"},"headerImageAltText":{"type":"string","description":"Header Image - Alt Text"},"messageBody":{"type":"string","description":"Message Body"},"name":{"type":"string","description":"Name"},"subject":{"type":"string","description":"Subject"}}}}}